/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
  overflow: none;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.line {
  border: 2px solid white;
  position: relative;
  margin-top: 60px;
  margin-bottom: 6px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
  margin-top: 120px;
  margin-bottom: 60px;
  margin-left: 50px;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
  margin-top: 5px;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
  color: white;
}

.sidebar .profile-details {
  position: fixed;
  bottom: 100px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.text {
  position: relative;
  left: 20px;
}
.home-content {
  border: 5px solid black;
  border-left: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* .sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
} */

.left-content {
  flex: 1;
}
.right-content {
  margin-left: auto;
}
.dropdowntext {
  color: white;
  font-size: 1.5rem;
  position: relative;
  right: 40px;
}
.dropbtn {
  background-color: inherit;
  color: white;
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  right: 40px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}
body {
  background-color: #e4e9f7;
}
.resource-control {
  width: 80%;
  position: relative;
  bottom: 30px;
  background-color: white;
  border-radius: 40px;
  margin-top: 80px;
  padding: 30px;
  margin-left: 140px;
  text-align: left;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.resource-control h1 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
}
.resinput label {
  font-size: 1.2rem;
}
.resinput input {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 390px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 20px;
}
.resinput input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}
.resinput input:focus {
  border: 2px solid var(--input-focus);
}
.dropdowncontrol {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 390px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 20px;
}
.dropdowncontrol::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}
.dropdowncontrol:focus {
  border: 2px solid var(--input-focus);
}
.resinput textarea {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  /*  width: 390px;
      height: 45px; */
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 20px;
}
.resinput textarea::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}
.resinput textarea:focus {
  border: 2px solid var(--input-focus);
}
.resinput input[type="file"] {
  width: 390px;
  height: 40px;
}
.centerdiv {
  text-align: center;
}
.deletetext {
  text-decoration: none;
}
.deletetext {
  width: 100px;
  height: 50px;
}
.deletetext2 {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.deletetext2:hover {
  color: rgb(70, 64, 64);
}
.table-control {
  width: 80%;
  /*  height: 80vh; */
  background-color: white;
  border-radius: 40px;
  margin-top: 40px;
  padding: 30px;
  margin-left: 140px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.table-control h1 {
  text-align: left;
  font-size: 3rem;
}
.table-control table {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.table-control table th,
td {
  border: 0px;
}
.table-control table th {
  background: #11101d;
  color: white;
}
.radio input[type="radio"] {
  margin-right: 4px;
  vertical-align: middle;
}
.radio {
  display: inline-block;
  margin-right: 20px;
}
.button {
  --bg: #000;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: lightgreen;
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
.btndiv {
  margin-left: 35px;
  margin-top: 30px;
}
.wrapper {
  --font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  width: 169px;
  height: 36px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  left: 78px;
}

.option {
  width: 80.5px;
  height: 28px;
  position: relative;
  top: 2px;
  left: 2px;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.span {
  color: var(--font-color-dark);
}

.input:checked + .btn {
  background-color: var(--main-color);
}

.input:checked + .btn .span {
  color: var(--font-color-light);
}
.successmsg {
  margin-top: 30px;
}
.successtext {
  color: black;
  font-size: 1 rem;
}
.input-control {
  text-align: left;
  margin-top: 30px;
}
.input-text {
  font-size: 1.1rem;
  font-weight: 20pxm;
}

.input-control input {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-left: 7px;
}
.input-control input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}
.input-control input:focus {
  border: 2px solid var(--input-focus);
}
.input-control button {
  display: block;
  margin-top: 20px;
}
/* CSS for present status */
.resinput {
  text-align: left;
}
