body {
  /* background: radial-gradient(circle at 53% 25%, rgba(203, 203, 203,0.04) 0%, rgba(203, 203, 203,0.04) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 48% 27%, rgba(22, 22, 22,0.04) 0%, rgba(22, 22, 22,0.04) 45%,transparent 45%, transparent 100%),radial-gradient(circle at 65% 50%, rgba(219, 219, 219,0.04) 0%, rgba(219, 219, 219,0.04) 61%,transparent 61%, transparent 100%),radial-gradient(circle at 78% 82%, rgba(229, 229, 229,0.04) 0%, rgba(229, 229, 229,0.04) 26%,transparent 26%, transparent 100%),radial-gradient(circle at 99% 75%, rgba(96, 96, 96,0.04) 0%, rgba(96, 96, 96,0.04) 31%,transparent 31%, transparent 100%),radial-gradient(circle at 17% 28%, rgba(188, 188, 188,0.04) 0%, rgba(188, 188, 188,0.04) 15%,transparent 15%, transparent 100%),radial-gradient(circle at 19% 19%, rgba(25, 25, 25,0.04) 0%, rgba(25, 25, 25,0.04) 68%,transparent 68%, transparent 100%),radial-gradient(circle at 35% 23%, rgba(31, 31, 31,0.04) 0%, rgba(31, 31, 31,0.04) 18%,transparent 18%, transparent 100%),linear-gradient(90deg, rgb(138, 193, 238),rgb(20, 21, 171)); *//*  repeating-linear-gradient(90deg, hsla(285,0%,67%,0.05) 0px, hsla(285,0%,67%,0.05) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(285,0%,67%,0.05) 0px, hsla(285,0%,67%,0.05) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(285,0%,67%,0.08) 0px, hsla(285,0%,67%,0.08) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, hsla(285,0%,67%,0.08) 0px, hsla(285,0%,67%,0.08) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(79, 30, 203),rgb(210, 142, 230)) */
  background: linear-gradient(0deg, rgb(61, 103, 216),rgb(65, 80, 170),rgb(53, 69, 115));
}
.resource-control {
  width: 80%;
  position: relative;
  bottom: 30px;
  background-color: white;
  border-radius: 40px;
  margin-top: 80px;
  padding: 30px;
  margin-left: 140px;
  text-align: left;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.resource-control h1 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
  
}
.resinput label {
  font-size: 1.2rem;
}
.resinput input {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 390px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 20px;
}
.resinput input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}
.resinput input:focus {
  border: 2px solid var(--input-focus);
}
.resinput textarea {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  /*  width: 390px;
    height: 45px; */
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 20px;
}
.resinput textarea::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}
.resinput textarea:focus {
  border: 2px solid var(--input-focus);
}
.resinput input[type="file"] {
  width: 390px;
  height: 40px;
}
.centerdiv {
  text-align: center;
}
.deletetext {
  text-decoration: none;
}
.deletetext {
  width: 100px;
  height: 50px;
}
.deletetext2 {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.deletetext2:hover {
  color: rgb(70, 64, 64);
}

