@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
:root {
  --main-color: rgb(1, 1, 63);
  --main-font: "Montserrat", sans-serif;
}
body{
  margin-left: 0;
}
nav {
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position:fixed;
  align-items: center;
  height: 60px;
  margin-left: 0px;
  width: 100%;
  top:0;
  z-index: 2;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

nav h1 {
  position: relative;
  margin: 0;
  font-family: var(--main-font);
  font-size: 1.5rem;
  
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: var(--main-font);
  border: 2px solid white;
  margin-right: 30px;
  margin-bottom: 200px;
}
nav a:hover{
    color: black;
    background-color: white;
    border-radius: 15px;
    transition:  all .6s ease-in-out;
} 
nav div{
  position: relative;
    text-align: center;
    height: 100%;
    padding-top: 40px; 
   
}
nav div span{
  position: relative;
    display: inline;
    font-size: 1.2rem;
    font-family: var(--main-font);
    font-weight: none;
    margin-right: 20px;
}
